<!-- <form #basicform="ngForm"  (ngSubmit)="getdata(basicform.value)">
  <input type="text" ngModel name="user" placeholder="Enter your name">  <br><br>
  <input type="email" ngModel name="email" placeholder="Enter your email">  <br><br>
  <input type="password" ngModel name="password" placeholder="Enter your password">  <br><br>
  <button>Submit</button>
  </form>
  <h4>{{alue.user}}</h4>
  <h4>{{alue.email}}</h4>
  <h4>{{alue.password}}</h4>
   -->
   <!-- <app-templiteral-forms></app-templiteral-forms> -->
  <!-- <app-reactive-form></app-reactive-form>
    <app-templiteral-forms ></app-templiteral-forms>  -->
    <!-- <app-reactive-form ></app-reactive-form> -->
    <!-- <button (start)="open($event)">clibl</button> -->
    <router-outlet></router-outlet> 


  <!-- <app-testform></app-testform> -->
   <!-- <app-input  [result]="nam"></app-input> -->
   <!-- <app-output (start)="open($event)" ></app-output>
   <h1 appEle>hello how are you?</h1>
   <ng-container  *ngFor="let product of products">
   <div *ngIf="product.naam">
    <span>{{ product.naam }}</span>
  </div>
</ng-container>
<h1>Hello</h1>

<ng-template>
  <h2>How are you 2</h2>
</ng-template> -->
